.site-header {
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
}

header {
  position: relative;
  z-index: 2;
  padding: .875em 0;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .filter-menu {
    flex: 0 0 auto;
    align-self: flex-end;
  }
}

.site-title {
  display: block;
  color: rgb(153, 18, 18);
  font-family: 'Cinzel Decorative', cursive, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

.site-reset {
  flex: 0 0 auto;
}
