.styleguide, section {
    padding: 75px 0;
}

section {
    border-top: 1px solid #eee;
}

.styleguide--intro,
section > h2 {
  font-family: arial, sans-serif;
  color: black;
  font-size: 32px;
}

.styleguide--intro {
  padding: 40px 0;
}

section > h2 {
  margin-top: 0;
}

/* color section */

.styleguide--buttons > div {
    padding: 15px;
}

.styleguide--colors ul {
    list-style-type: none;
    padding: 0;
}

.styleguide--colors li {
    position: relative;
    width: 16.66667%;
    display: inline-block;
}

.styleguide--colors div {
    height: 120px;
    margin-right: 0.9375em;
}

.styleguide--colors li p {
    position: absolute;
    padding: 3px 13px;
    color: #666;
    background-color: #fff;
    font-size: 12px;
    bottom: 0;
    left: 0.9375em;
    border: 1px solid #eee;
}

.styleguide--headers-family {
    color: #bbb;
    text-transform: none;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 25px;
    font-weight: normal;
}
