@import 'vars';

* {
  box-sizing: border-box;
}

html,
body, 
main {
  height: 100%;
}

//
// TYPE
//
//general type styles
html {
  font-family: $font-primary;
  font-size: $default-font-size;
}

//links
a {
  color: #4d96b9;
  text-decoration: none;
  cursor: pointer;
  transition: color .25s;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0;
  font-weight: normal;
}

//
// BASIC
//
::selection {
  background: #b3d4fc;

  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

//
// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
//
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button {
  &:focus {
    outline: none;
  }
}

//
// Remove default fieldset styles.
//
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

//
// Helper styles
//
.content {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding: 1px 15px;
}

table {
  font-size: .875rem;
}

th {
  background-color: #eee;
  text-align: left;
  &:first-child {
    text-align: center;
  }
}

th,
td {
  border: 1px solid #ccc;
  padding: .5em .75em;
}
