.spell-detail {
  max-width: 970px;;
  margin: 90px auto 40px;
  padding: 0 15px;
  h1 {
    margin: 0 0 30px;
    color: #991212;
    font-size: 2rem;
    line-height: 1.1;
  }
  ul {
    padding-left: 2em;
    list-style-type: none;
    li {
      margin-bottom: 1em;
    }
    li:before {
      content: '\25AA';
      display: inline-block;
      width: 1.2em;
      margin-left: -1.2em;
      color: #ccc;
    }
  }
}

.spell_detail-stats > div {
  margin: .75em 0;
  line-height: 1.35;
}

.spell_detail-desc {
  margin-top: 30px;
  line-height: 1.55;
}

.spell_detail-cta {
  margin-top: 30px;
  a {
    color: #bbb;
  }
}

.spell_detail-higher_level {
  line-height: 1.55;
  p {
    display: inline;
  }
}

.spell_detail-source {
  margin-top: 3rem;
  padding: .75rem 0 1rem;
  border-top: 1px solid #ccc;
  color: #999;
  font-size: .8rem;
  font-style: italic
}

.spell_detail-pages {
  margin-right: .5rem;
  color: #ccc;
  font-size: .8rem;
  font-style: italic
}

.spell_detail-source .class-tags strong {
  margin-right: .5em;
}

.spell_detail-source .pages {
  margin-left: .5em;
}