.spell-detail {
  max-width: 970px;;
  margin: 40px auto;
  padding: 0 20px;
  h1 {
    margin: 0 0 .25em;
    color: #991212;
    font-size: 2.35rem;
    line-height: 1.1;
  }
  ul {
    list-style-type: none;
    li:before {
      content: '\25AA';
      display: inline-block;
      width: 1.2em;
      margin-left: -1.2em;
      color: #ccc;
    }
  }
  .spell_detail-cta {
    margin-top: 40px;
  }
  .spell_info-content {
    line-height: 1.4;
  }
}
