header {
  padding: 1em 0 .5em;
  border-bottom: 1px solid #e8e8e8;
}

.site-title {
  color: rgb(153, 18, 18);
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1.75rem;
  &:hover {
    text-decoration: none;
  }
}

.class-menu {
  display: inline-block;
  a {
    display: inline-block;
    margin: .75rem .75rem .5rem 0;
    padding: .5em .7em;
    border: 1px solid #eee;
    border-radius: 6px;
    color: #666;
    line-height: 1;
    &:hover {
      color: #4d96b9;
      text-decoration: none;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: #4d96b9;
      border-color: #4d96b9;
      cursor: default;
    }
  }
}

.filter {
  display: none;
  padding: 1em;
}
