// class and settings for  
// a responsive foundational content container
.content {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding: 1px 15px;
}
