// class and settings for  
// a responsive foundational content container
.content {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
