.spell-list-section h2 {
  text-transform: capitalize;
}

.spell-list {
  margin-top: 50px;
  padding-bottom: 20px;
}

.spell-list section {
  ul {
    list-style-type: none;
  }
  li {
    margin: 1em 0;
  }
}

.spell-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 1em .75em;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: box-shadow .3s ease-out;
  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2);
  }
}

.spell_item-level {
  flex: 0 0 45px;
  color: #666;
  font-size: .75rem;
}

.spell_item-name {
  flex: 2 1 auto; //color: #4d96b9;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
}

.spell_item-trigger {
  flex: 0 0 12px;
  height: 6px;
  margin-left: 12px;
  background-image: url('../../assets/images/open-arrow.svg');
  background-size: 100% auto;
}

.spell_item-school {
  color: #666;
  font-size: .75rem;
}

.spell-list-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0 10px;
  color: #bbb;
  font-size: .75rem;
}

.sort-toggle {
  position: relative;
  margin-left: .5em;
  padding: .5em 1em .5em .5em;
  border: 1px solid #bbb;
  border-radius: 6px;
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #666;
}

@media (min-width: 601px) {
  .spell_item-level {
    flex: 0 0 100px;
  }
}
